.bm-picture-container {
  position: relative;
}

.bm-picture {
  display: block;
  width: 100%;
  height: auto;
}

.bm-quote {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  margin: 0;
  font-size: 24px;
}

.bm-control-button {
  padding: 8px 12px;
  background: transparent;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  border-radius: 2px 2px 0 0;
  border-color: #dddfe2;
  border-bottom: none;
}

.bm-feed-hidden > .bm-madame-button,
:not(.bm-feed-hidden) > .bm-feed-button {
  background: #f5f6f7;
  font-weight: 600;
}

.bm-control-button:hover {
  background: #f5f6f7;
  cursor: pointer;
}

/* show/hide feed/picture */
.bm-container-picture,
.bm-feed-hidden ~ .bm-feed {
  display: none;
}

.bm-feed,
.bm-feed-hidden ~ .bm-container-picture {
  display: block;
}